$bg-color: #F9FAFB;
$text-color: #111827;
$border-color: #E5E7EB;
$accent-color: #22A0BC;
$gray-light: #DADADA;
$gray-medium: #9C9C9C;
$gray-dark: #595959;
$black: #161616;
$danger-color: #ef4444;

$font-family: 'Inter', sans-serif;